body {
	font-family: 'Varela Round', sans-serif;
}

.heading__text {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 600;
	margin: 25px 0;
}

.heading__btn {
	text-align: right;
	margin-bottom: 10px;
}